{{> header}}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<div class="container">
	<div class="row m-0 mt-3">
		<div class="col-6">
            <form id="searchForm" class="d-flex" method="post">	
            	<select name="field" class="form-select" required>
            		<option>Field</option>
					<option value="id">Id </option> 
					<option value="firstname">Firstname </option> 
					<option value="lastname">Lastname </option> 
					<option value="gender">Gender </option> 
					<option value="phone_no">Phone Nubmer </option> 
					<option value="email">Email </option> 
					<option value="city">City </option> 
					<option value="time">Time </option> 
            	</select>
            	<input type="text" name="searchField" id="searchField" placeholder="Search..." class="form-control" required>
            	<button type="submit" class="nav-item btn btn-primary ">Search</button>
			</form>
        </div>
		<div class="col-6">
        	<button type="submit" form="deleteContacts" id="deleteSelected" onclick="return confirm('Are you sure you want to delete selected contacts?');" disabled="" class="nav-item  btn btn-danger float-end">Delete Selected</button>
        </div>
    </div>
	<div class="row mt-3 contact">	
	 	<form method='post' action='/deleteContacts' id="deleteContacts" >
	 		<table border=1 width='100%' class='p-2 ' >
            	<thead role='rowgroup'>
	 				<tr>
	                    <th ><input class='mark' type=checkbox id=checkAll></th>
		                <th><a href="#" class="sort" data-field="id">Id</a></th> 
		                <th><a href="#" class="sort" data-field="firstname">Firstname</a></th> 
		                <th><a href="#" class="sort" data-field="lastname">Lastname</a></th> 
		                <th><a href="#" class="sort" data-field="gender">Gender</a></th> 
		                <th><a href="#" class="sort" data-field="phone_no">Phone Number</a></th> 
		                <th><a href="#" class="sort" data-field="email">Email</a></th> 
		                <th><a href="#" class="sort" data-field="city">City</a></th> 
		                <th><a href="#" class="sort" data-field="time">Time</a></th> 
		                <th colspan='2' align='center' class='text-center'>Action</th> 
            		</tr>
            	</thead>
            	<tbody id="contactsTableBody">
				 	{{> contacts}}
            	</tbody>
            </table>
	 	</form>
	 	 <nav>
            <ul class="pagination justify-content-center" id="paginationLinks">
                {{#if (gt currentPage 1)}}
                    <li class="page-item"><a class="page-link" href="/home?page={{subtract currentPage 1}}&limit={{limit}}">Previous</a></li>
                {{/if}}
                {{#each (paginationLinks currentPage totalPages)}}
                    <li class="page-item {{#if active}}active{{/if}}"><a class="page-link" href="{{#if active}} javascript:void(0); {{else}} /home?page={{number}}&limit={{../limit}} {{/if}}">{{number}}</a></li>
                {{/each}}
                {{#if (lt currentPage totalPages)}}
                    <li class="page-item"><a class="page-link" href="/home?page={{add currentPage 1}}&limit={{limit}}">Next</a></li>
                {{/if}}
            </ul>
            
        </nav>
	</div>
</div>

<script>
$(document).ready(function() {
    
    // Function to update "Delete Selected" button state
    function updateDeleteButtonState() {
        const anyChecked = $('.submark').is(':checked');
        $('#deleteSelected').prop('disabled', !anyChecked);
    }

    // Event listener for "Select All" checkbox
    $(document).on('change', "#checkAll", function() {
        $('.submark').prop('checked', this.checked);
        updateDeleteButtonState();
    });

    // Event listener for individual checkboxes
    $(document).on('change', ".submark", function() {
        const allChecked = $('.submark').length == $('.submark:checked').length;
        $('#checkAll').prop('checked', allChecked);
        updateDeleteButtonState();
    });

    // Initial state update
    updateDeleteButtonState();
    function fetchSortedData(field, order) {
        $.ajax({
            url: '/fetchSortedContacts', // The URL of the server endpoint
            method: 'GET',
            data: {
                field: field,
                order: order,
                 // _: new Date().getTime() //for cache remove
            },
            success: function(data) {
                $('#contactsTableBody').html(data);
            },
            error: function(err) {
                console.error('Error fetching sorted data:', err);
                // Handle error if necessary
            }
        });
    }

    let sortOrder = 'asc'; 
    $(document).on('click', ".sort", function(e) {
        e.preventDefault();
        const field = $(this).data('field');
        sortOrder = sortOrder === 'asc' ? 'desc' : 'asc';
        fetchSortedData(field, sortOrder);
    });
    $('#searchForm').on('submit', function(e) {
        e.preventDefault();

        $.ajax({
            url: '/search',
            method: 'POST',
            data: $(this).serialize(),
            success: function(data) {
                $('#contactsTableBody').html(data);
            },
            error: function(err) {
                console.error('Error during search:', err);
                // Handle error if necessary
            }
        });
    });


});
</script>
{{> footer}}
	